<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Welcome Word Enterer.</h1>
      <p>Your chosen word, @Model.Word.</p>
      <p>Your chosen sentence, @Model.Sentence.</p>
      <p>This is how many match, @Model.Count.</p>
    </div>
  </body>
</html>